<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magestudy\Rest\Api\Data\PhoneInterface" type="Magestudy\Rest\Model\Phone"/>
    <preference for="Magestudy\Rest\Api\ShopInterface" type="Magestudy\Rest\Model\Shop"/>
</config>