<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <example>
                <active>1</active>
                <model>Magestudy\PaymentMethod\Model\Payment\Example</model>
                <order_status>pending_payment</order_status>
                <title>Example</title>
            </example>
        </payment>
    </default>
</config>
