<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductRenderCollectorComposite">
        <arguments>
            <argument name="productProviders" xsi:type="array">
                <item name="new_one" xsi:type="object">Magestudy\RecentlyViewed\Ui\DataProvider\Product\Listing\Collector\NewOne</item>
            </argument>
        </arguments>
    </type>
</config>
