<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magestudy\ExtensionAttributes\Api\Data\ExampleInterface" type="Magestudy\ExtensionAttributes\Model\Example" />

    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="add_extension_attribute_example" type="Magestudy\ExtensionAttributes\Plugin\CustomerRepositoryExample" />
    </type>
</config>